<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 27rem">
    <div class="card-body">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1OfJviFca_oVMEtI3gdL3BjJIZQ-gDYxopw&s"
        alt="ultatel-logo"
        class="img-fluid mb-5"
        style="height: 80px; width: 320px; margin: 0 auto; display: block"
      />
      <h4 class="card-title text-center mb-4">Register</h4>
      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="fullName" class="form-label">Full Name</label>
          <input
            type="text"
            class="form-control"
            id="fullName"
            [(ngModel)]="fullName"
            name="fullName"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>
        <div class="mb-3 position-relative">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            [(ngModel)]="password"
            name="password"
            required
            (input)="checkPasswordStrength()"
            (focus)="showTooltip = true"
            (blur)="showTooltip = false"
          />
          <div class="tooltip-custom" [class.show]="showTooltip">
            <div class="password-strength">
              <div [class]="strengthLevel.toLowerCase()">
                {{ strengthLevel }}
              </div>
            </div>
            <ul class="password-requirements">
              <li *ngFor="let req of requirements" [class.valid]="req.isValid">
                {{ req.text }}
              </li>
            </ul>
          </div>
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary w-100">Register</button>
      </form>
      <div class="text-center mt-3">
        <a routerLink="/login">Login</a>
      </div>
    </div>
  </div>
</div>
