<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 27rem">
    <div class="card-body">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1OfJviFca_oVMEtI3gdL3BjJIZQ-gDYxopw&s"
        alt="ultatel-logo"
        class="img-fluid mb-5"
        style="height: 80px; width: 320px; margin: 0 auto; display: block"
      />
      <h4 class="card-title text-center text-secondary mb-4">Welcome</h4>
      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            [(ngModel)]="email"
            name="email"
            required
            placeholder="email"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control w-100"
            id="password"
            [(ngModel)]="password"
            name="password"
            required
            placeholder="password"
          />
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
      </form>
      <div class="text-center mt-3">
        <a routerLink="/register">Register</a>
      </div>
    </div>
  </div>
</div>
